body {
    margin: 0;
    display: block;
    font-family: Arial;
}

#title-section {
    height: 700px;
    background-color: black;
    position: relative;
    opacity: 0.8;
}

#title-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    box-shadow: 0 0 100px black;
    background-color: rgb(255, 255, 255, 0.05);
}

#title {
    position: absolute;
    color: white;
    text-align: center;
    left: 40%;
}

h1 {
    font-size: 65px;
    margin: 10% 0 0 0;
    font-family: 'Julee', cursive;
}

p {
    font-size: 22px;
    padding: 0 10%;
}

#circuit {
    background-image: url("circuit.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    left: 0;
    height: 1000px;
}

.circuit-text {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 100px 300px 0 300px;
    margin: 0;
    position: relative;
}

#above {
    color: black;
    font-size: 50px;
    height: 700px;
}